---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

	<p>BuyingBricks helps you buy LEGO bricks for the right price. We provide information to LEGO brick buyers and sellers. Our proprietary algorithm identifies interesting sets to buy for parting-out in a BrickLink or BrickOwl store.</p>
	
	<p>Each week we select a number of sets that have high relative part-out value compared to their purchase price.</p>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!--<span class="post-meta">{{ post.date | date: date_format }}</span>-->
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
		<a href="{{ post.url | relative_url }}">More...</a>
      </li>
      {%- endfor -%}
    </ul>

    
  {%- endif -%}

</div>
